#intro {
  background-image: url("../assets/Background_Intro.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 160px 180px 80px 180px;
  align-items: center
}

.avatar {
  position: relative;
}

.avatar img:nth-child(1) {
  width: 87.27px;
  height: 87.27px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ffffff;
}

.avatar img:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 27px;
  height: 27px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font: var(--subtitle);
    color: var(--base-gray-200);
    margin-bottom: 8px;
    margin-top: 56px;

    span {
      color: var(--main-red);
    }
  }

  h1 {
    font: var(--title-lg);
    color: var(--base-gray-100);
  }

  h3 {
    font: var(--text-sm);
    color: var(--base-gray-300);
    margin-top: 8px;
  }
}

.tags {
  display: flex;
  gap: 16px;
  margin-top: 80px;
  justify-content: center;

  span {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--base-gray-400);
    border-radius: 40px;
    padding: 8px 16px;

    img {
      width: 16px;
      height: 16px;
    }

    p {
      font: var(--text-md);
      color: var(--base-gray-200);
    }
  }
}

.arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 94px 0px 129px;

  img {
    width: 40px;
    height: 40px;
  }
}

html {
  scroll-behavior: smooth;
}

.scroll-image {
  cursor: pointer;
  transition: transform 0.8s ease;
}

.scroll-image:hover {
  transform: scale(1.1);
}